h1{
    font-family: "permanent marker" ;
    font-size: 5rem;
}

.navbar{
    background: linear-gradient(#6093CE,rgba(0, 0, 0, 0.034)) ;
}

.nav-link {
    color: rgb(7, 118, 16);
}
.modal-title#modalTallerLabel::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 5px;
  }