h1{
    font-family: "permanent marker" ;
    font-size: 5rem;
}

.navbar{
    background: linear-gradient(#6093CE,rgba(0, 0, 0, 0.034)) ;
}

.nav-link {
    color: rgb(92, 91, 91);
}
.nav-link:hover {
    color: rgb(204, 146, 21);
}

.modal-title#modalTallerLabel::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto;
    margin-top: 5px;
  }

#editarModalMap {
    height: 300px; /* O cualquier otra altura */
    width: 100%; /* Para que tome el ancho completo del modal */

.btnLogOut{
    background-color: #d73c30;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.btnLogOut:hover{
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.1); /* Aumenta el tamaño del botón en un 10% */

}