.navbar{
    background: linear-gradient(#6093CE,rgba(0, 0, 0, 0.034)) ;
}


.nav-link {
    color: white;
}

/* CSS */
.table-container {
   
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%; 
    
}

.Grupos {
    width: auto;
    height: 100%;
    border: #6093CE 1px solid;
    border-radius: 10px;
    margin: 10px;
}

.nGrup{
    text-decoration: underline;
    font-size: 2rem;
   
}

.col:hover {
    background-color: #585757;
    color: white;
    border-radius: 4px;

    cursor: -webkit-grabbing;
}


/* Path: Assets/css/grups.style.css */


