.navbar{
    background: linear-gradient(#6093CE,rgba(0, 0, 0, 0.034)) ;
}

.nav-link {
    color: white;
}

#divForm{
    display: none;
}

#nom {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding: 10px 0;
    transition: border-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
  
#nom:active {
    outline: none;
}


#form{
    border-radius: 10px;
}

.mapa {
    margin:.5rem 0;
    width: 500px;
    height:500px;
    margin:  0 auto;
    padding: 10px;
}

#modalMap {
        margin:.5rem 0;
        width: 500px;
        height:500px;
        margin:  0 auto;
        padding: 10px;
}

.btn-mapa{
    margin: 10px;    
    
}